<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <!--<add name="main" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\mini\prac\WCF\WCF\ZipCodeData.mdf;Integrated Security=True;User Instance=True " providerName="System.Data.SqlClient"/>-->
  <add name="OracleConn" connectionString="User ID=user;Password=pwd;Data Source=db;Persist Security Info=True;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <services>
      <!--for each service, there has to be a one to one mapping-->
      <service name="GeoLib.Services.GeoManager" behaviorConfiguration="behv1">
        <!--this section is for exposing metadata via the base address-->
          <!--<host>
          <baseAddresses>
            --><!--using this base address, we can later service reference which will auto create proxy for us--><!--
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>-->
        
        <!--end point has address - url, binding - type of mode , contract - service contract that has to be exposed-->
        <!--contract has ot be fully qualified service name-->
        <!--address can be a port that is not used along with some name. binding and address protocol should match-->
        <endpoint address="net.tcp://localhost:8009/GeoService" 
                  binding="netTcpBinding" 
                  contract="GeoLib.Contracts.IGeoService"
                  bindingConfiguration="TCP1"
                  >        
          
        </endpoint>
        <!--To listen to http ports , we need admin access-->
        <!--<endpoint address="http://localhost/GeoService"
                  binding="basicHttpBinding"
                  contract="GeoLib.Contracts.IGeoService">        </endpoint>-->
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="TCP1" sendTimeout="00:01:00" maxReceivedMessageSize="2000000" receiveTimeout="00:20:00">
          <reliableSession inactivityTimeout="00:20:00" ordered="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behv1">
          <!--<serviceDebug includeExceptionDetailInFaults ="true"/>-->
        </behavior>
        <!--for a service to be exposed via HTTP , we should enable this httpgetenabled property-->
        <behavior>
          <serviceMetadata httpGetEnabled="true"/> 
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>