<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="main" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\mini\prac\WCF\WCF\ZipCodeData.mdf;Integrated Security=True;User Instance=True " providerName="System.Data.SqlClient"/>-->
    <add name="OracleConn" connectionString="User ID=user;Password=pwd;Data Source=db;Persist Security Info=True;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <services>
      <!--for each service, there has to be a one to one mapping-->
      <service name="GeoLib.Services.GeoManager">
        <!--end point has address - url, binding - type of mode , contract - service contract that has to be exposed-->
        <!--contract has ot be fully qualified service name-->
        <!--address can be a port that is not used along with some name. binding and address protocol should match-->
        <endpoint address="net.tcp://localhost:8009/GeoService"
                  binding="netTcpBinding"
                  contract="GeoLib.Contracts.IGeoService"
                  name="zipEP">        </endpoint>
        <!--To listen to http ports , we need admin access-->
        <!--<endpoint address="http://localhost/GeoService"
                  binding="basicHttpBinding"
                  contract="GeoLib.Contracts.IGeoService">        </endpoint>-->
      </service>
      <!--This end point is for contract equivalence-->
      <!--Since it is in different service , we should add it under separate service tag-->
      <!--if u mention port number here it errors out, why?-->
      <service name="GeoLib.WindowsHost.Services.MessageManager">
        <endpoint address="net.tcp://localhost/MessageService" 
                  binding="netTcpBinding"
                  contract="GeoLib.WindowsHost.Contracts.IMessageService"
                  name="msgEP">
        </endpoint>
        <!--This end point is for inprocess service-->
        <!--Since in inprocess, everything is on the same app/machine, we can use ICP binding becos it is the FASTEST with a limitation that it cannot span machine boundaries-->
        <endpoint address="net.pipe://localhost/MessageService"
                  binding="netNamedPipeBinding"
                  contract="GeoLib.WindowsHost.Contracts.IMessageService"
                  name="inprocessEP">
        </endpoint>
      </service>
    </services>
    <!--this client section end point serves as the end point for client for inprocess service since both client and host are the same-->
    <client>
      <endpoint address="net.pipe://localhost/MessageService"
                  binding="netNamedPipeBinding"
                  contract="GeoLib.WindowsHost.Contracts.IMessageService"
                  name="inprocessEP">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>